<h5 class="alert-info p-3">Primary Details</h5>
       <form #primaryDetails="ngForm"   class="editForm p-3" (ngSubmit) = "onSubmitPrimary(primaryDetails)">
 
     
                        <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>  
                            <input class="form-control" [(ngModel)]="firstname"   required name="firstname" type="text" placeholder="First Name" #name = "ngModel">   
                            <div *ngIf="name.touched && !name.valid" class="text-danger">
                                Firstname is required
                              </div>
                        </div>
                 
                   
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last Name</label>  
                            <input class="form-control" [(ngModel)]="lastname" required name="lastname" type="text" placeholder="Last Name" #lname = "ngModel">
                            <div *ngIf="lname.touched && !lname.valid" class="text-danger">
                                Last name is required
                              </div>
                        </div>
            
           
                    
                <div class="form-group text-center">
                    <button class="btn btn-primary w-25" [disabled] = "!primaryDetails.valid">Next</button>
                </div>
   
</form>