<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            <button class="btn border-blue w-100"  routerLink="/customers/customers-form/primary-detail" routerLinkActive="btn-info" >Primary Details</button>
            <button class="btn border-blue mt-3 w-100" routerLink="/customers/customers-form/secondary-detail" routerLinkActive="btn-info">Secondary Details </button>
            <button class="btn border-blue mt-3 w-100" routerLink="/customers/customers-form/communication-detail" routerLinkActive="btn-info">Communication Details</button>
        </div>
    <div class="col-sm-8 ml-2 border py-2">
   <router-outlet></router-outlet>
     </div>
    </div>
</div>
