/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {
    border : 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.1);
}

.cursor {
    cursor: pointer;
}